*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    width: 550px;
}

.header{
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 37px 20px 20px;
}

.header-description{
    font-size: 12px;
}

.header-info{
    display: flex;
    align-items: center;
}

.header-title{
    font-size: 21px;
    letter-spacing: -0.05em;
}

.logo{
    width: 32px;
    margin-right: 10px;
}

.form{
    margin-bottom: 36px;
    /*border: 1px solid red;*/
}

.form-btn{
    width: 100%;
    margin-top: 15px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.form-input{
    height: 35px;
    flex-basis: calc(50% - 8px);
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    padding: 5px 10px;
}

.form-inputs{
    display: flex;
    justify-content: space-between;
}

.meme-image{
    width: 477px;
    /*margin: 0 auto;*/
    display: block;
    cursor: pointer;
    /*height: 268px;*/
}

.main{
    /*border: 1px solid red;*/
    background: #f5f2f2;
    padding: 36px 36px 50px 36px;
}
